In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [18]:
# Load the dataset

#games = pd.read_csv('C:\\Users\\Kitty\\Documents\\R\\HT2019\\Final Project\\vgsales- first edit.csv')

In [ ]:
# Make sure the dataset looks right/loaded properly

games.head()

In [ ]:
games.Genre.unique() # See how many unique values in col Genre

In [4]:
games.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Global_Sales    0
dtype: int64

In [ ]:
games.Year.unique()  # Note: case sensitive

In [3]:
# Convert column names into keys with a dict. https://stackoverflow.com/questions/44357380/python-csv-to-dictionary-using-csv-or-pandas-module

games = pd.read_csv('C:\\Users\\Kitty\\Desktop\\PyLadies\\vgsales- first edit.csv', usecols=['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Global_Sales'])
result = games.to_dict(orient='records')

games.head()

   Rank                       Name Platform  Year    Genre  Global_Sales
0   222                    FIFA 17      PS4  2016   Sports          4.77
1   352  Tom Clancy's The Division      PS4  2016  Shooter          3.61
2   772            Far Cry: Primal      PS4  2016   Action          2.13
3   847  Tom Clancy's The Division     XOne  2016  Shooter          2.01
4  1028                  Overwatch      PS4  2016  Shooter          1.73

In [23]:
# 
games.groupby('Genre')['Rank'].count()

Genre
Action          114
Adventure        34
Fighting         11
Misc             18
Platform          9
Racing           20
Role-Playing     39
Shooter          31
Simulation        9
Sports           34
Strategy         10
Name: Rank, dtype: int64

In [29]:
games.groupby('Platform')['Rank'].count()

Platform
3DS     33
PC      38
PS3     32
PS4     97
PSV     60
WiiU     8
X360     8
XOne    53
Name: Rank, dtype: int64

In [30]:
# Count data of group sizes

#games.pivot_table(['Global_Sales'], index = ['Platform', 'Genre'], aggfunc = 'mean', margins = True)

In [8]:
pd.crosstab([games.Platform], games.Genre, margins = True) # Platform has the most sales

Genre,Action,Adventure,Fighting,Misc,Platform,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy,All
Platform,,,,,,,,,,,,
3DS,14,4,1,4,2,0,5,0,2,0,1,33
PC,4,4,1,0,1,5,4,6,3,3,7,38
PS3,11,2,1,5,0,0,5,1,0,7,0,32
PS4,35,5,4,5,3,7,12,12,3,10,1,97
PSV,26,17,2,3,0,0,10,0,0,2,0,60
WiiU,4,1,0,1,1,0,0,1,0,0,0,8
X360,3,0,0,0,0,0,0,1,0,4,0,8
XOne,17,1,2,0,2,8,3,10,1,8,1,53
All,114,34,11,18,9,20,39,31,9,34,10,329

In [9]:
pd.crosstab([games.Genre], games.Platform, margins = True) # Which genre had the most sales

Platform      3DS  PC  PS3  PS4  PSV  WiiU  X360  XOne  All
Genre
Action         14   4   11   35   26     4     3    17  114
Adventure       4   4    2    5   17     1     0     1   34
Fighting        1   1    1    4    2     0     0     2   11
Misc            4   0    5    5    3     1     0     0   18
Platform        2   1    0    3    0     1     0     2    9
Racing          0   5    0    7    0     0     0     8   20
Role-Playing    5   4    5   12   10     0     0     3   39
Shooter         0   6    1   12    0     1     1    10   31
Simulation      2   3    0    3    0     0     0     1    9
Sports          0   3    7   10    2     0     4     8   34
Strategy        1   7    0    1    0     0     0     1   10
All            33  38   32   97   60     8     8    53  329